body {
    background-color: black;
    color: lightgray;
    margin: 0;
    padding: 0;
}

nav {
    background-color: darkblue;
    margin: 0;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contents {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
}
.card {
    display: block;
    flex: 0 0 400px;
    height: 300px;
    width: 400px;
    border-radius: 20px;
    background-color: rgb(39, 39, 39);
    overflow: hidden;
    transition: height 1s;
    animation: fadein 5s linear 1 forwards;
}

.term {
    height: 300px;
    width: 400px;
}

.term h1 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    text-align: center;
    margin: 0;
    padding: 0;
}

.card:hover {
    height: 500px;
}

.card p {
    padding: 20px;
}

@keyframes fadein {
    from {opacity: 0%;}
    30% {opacity: 15%;}
    40% {opacity: 25%;}
    50% {opacity: 45%;}
    60% {opacity: 55%;}
    70% {opacity: 75%;}
    80% {opacity: 95%;}
    100% {opacity: 100%;}
}
