/* 
Docs Section Styling 
 */


/* Docs Container */
section.content {
    display: grid;
    min-height: 80vh;
    height: 100%;
    grid-template-columns: 20% 80%;
}

/* Docs Sidebar */
.sidebar {
    background-color: #272727f6;
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    width: 20vw;
}

.sidebar .links a {
    display: block;
    margin: 10px;
}

.sidebar .links {
    padding: 20px;
}

/* Main Docs Content (Anything not in the sidebar)*/
.DocsContent {
    padding: 15px;
}

/* Adjustments for smaller screens (Stack everything verticly)*/
@media (max-width: 600px) {
    section.content {
        grid-template-columns: 100%;
    }

    .sidebar .links a {
        max-width: auto;
    }

    .sidebar {
        width: 100%;
    }
}

blockquote.tips {
    background-color: rgba(255, 255, 0, 0.199);
}

blockquote.warn {
    background-color: rgba(255, 60, 0, 0.5);
}

blockquote {
    padding: 10px;
}

/*Prevents section from going off screen*/
pre {
    overflow: scroll;
}