/* 
Docs Section Styling 
 */


/* Docs Container */
section.content {
    display: grid;
    min-height: 80vh;
    height: 100%;
    grid-template-columns: 20% 80%;
}

/* Docs Sidebar */
.sidebar {
    background-color: #272727f6;
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    width: 20vw;
}

.sidebar .links a {
    display: block;
    margin: 10px;
}

.sidebar .links {
    padding: 20px;
}

/* Main Docs Content (Anything not in the sidebar)*/
.DocsContent {
    padding: 15px;
}

/* Adjustments for smaller screens (Stack everything verticly)*/
@media (max-width: 600px) {
    section.content {
        grid-template-columns: 100%;
    }

    .sidebar .links a {
        max-width: auto;
    }

    .sidebar {
        width: 100%;
        height: auto;
    }
    div.twoColl {
        grid-template-columns: 100% !important;
    }
    .workSection p {
        column-count: 1 !important;
    }
}

@media (max-width: 850px) and (min-width: 600px) {
    .workSection p {
        column-count: 2 !important;
    }
}

div.tips {
    background-color: rgba(255, 255, 0, 0.199);
    padding: 30px 10px;
    margin: 10px auto;
    width: 80%;    
    border: thin yellow solid;
    border-radius: 5px;
    text-align: center;
}

div.warn {
    background-color: rgba(255, 60, 0, 0.5);
    padding: 30px 10px;
    margin: 10px auto;
    width: 80%;
    border: thin red solid;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

blockquote {
    padding: 10px;
}

/*Prevents section from going off screen*/
pre {
    overflow: scroll;
}

img {
    max-width: 100%;
}

.twoColl {
    display: grid;
    grid-template-columns: 30% 70%;
}

.fiftyfifty {
    grid-template-columns: 50% 50% !important;
}

.workSection p {
    column-count: 3;
}
/*Makes line breaks seperate the text more*/
br {
    display: block;
    margin: 10px 0;
 }