/* CSS for the Release Page */

/*Identical to the Downloads Page HOWEVER after 
a release it would be necesairy to put different CSS on Each*/

h3 {
    width: 100vw;
    text-align: center;
    padding: 10px 0;
}